.preserve {
  @media ($desktop) {
    transform-style: preserve-3d;
  }
}

.level-negative-2,
.level-negative-1,
.level-positive-1,
.level-positive-2 {
  transform: none;
}

.level-negative-2 {
  @media ($desktop) {
    transform: translateZ(-70px);
  }
}

.level-negative-1 {
  @media ($desktop) {
    transform: translateZ(-35px);
  }
}

.level-positive-1 {
  @media ($desktop) {
    transform: translateZ(20px);
  }
}

.level-positive-2 {
  @media ($desktop) {
    transform: translateZ(40px);
  }
}
