// Buttons
.button {
  appearance: none;
  user-select: none;
  margin: 0;
  background-color: $orange;
  color: $white;
  padding: 7px 20px;
  font-family: ff(roboto);
  font-weight: fw(regular);
  font-size: 14px;
  min-width: unset;
  line-height: 1.1;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.3s ease;
  border: 0;
  letter-spacing: 1px;

  &:hover,
  &:focus {
    background-color: darken($orange, 5%);
  }

  &:active {
    transition: none;
    opacity: 0.3;
  }

  &:disabled {
    opacity: 0.3;
    cursor: default;
  }

  @media ($desktop) {
    min-width: 160px;
    font-size: 16px;
  }
}
