.section-header {
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
  justify-content: flex-start;
  padding: 0;
  margin-bottom: 30px;

  &--dark {
    .section-header__title {
      color: $white;
    }
  }

  @media ($tablet) {
    margin-bottom: 40px;
  }

  @media ($desktop) {
    margin-bottom: 50px;
  }
}

.section-header__bold {
  font-family: ff(roboto);
  font-size: 14px;
  line-height: 28px;
  font-weight: fw(bold);
  color: $orange;
  text-transform: uppercase;
  letter-spacing: 1px;

  @media ($tablet) {
    font-size: 16px;
    line-height: 32px;
  }

  @media ($desktop) {
    font-size: 18px;
    line-height: 34px;
  }
}

.section-header__title {
  font-family: ff(playfair);
  font-size: 26px;
  line-height: 36px;
  font-weight: fw(bold);
  color: $black;
  margin: 10px 0 0;
  padding: 0;

  @media ($tablet) {
    font-size: 36px;
    line-height: 54px;
  }

  @media ($desktop) {
    font-size: 46px;
    line-height: 64px;
  }
}
